:root {
  --light-green: #63cdda;
  --charcoal: #2f3640;
  --grey: #576574;
  --section-padding: 2.5rem;
  --work-section-padding: 0.62rem;
}

body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Open Sans",
    "Roboto Slab", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 70px;
}

code {
  font-family: "Open Sans", source-code-pro, Menlo, Monaco, Consolas,
    "Roboto Slab", "Courier New", monospace;
}

h1,
h2,
h3 {
  color: var(--charcoal);
}

.header-image {
  background-image: url(./assets/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  /* Add the blur effect */
  filter: blur(0.5rem);
  --webkit-filter: blur(0.5rem);
  /* min-height: 200px; */
}

.navbar {
  background-color: var(--charcoal);
  color: var(--light-green);
}

.navbar-brand {
  font-size: 6.25rem;
}
.navbar-toggle {
  color: lightgray !important;
}

.nav-elements {
  font-size: 20px;
  text-decoration: none;
  list-style: none;
  color: var(--light-green);
}

.no-list-style,
.nav-link {
  list-style: none;
  color: lightgray !important;
  text-decoration: none;
}
.nav-link:hover {
  color: var(--light-green) !important;
}

.page-container {
  margin-bottom: 3.25rem;
  padding-top: 0.62rem;
}

.profile-pic {
  clip-path: circle();
  width: 15.62rem;
}

.punchline {
  background-color: var(--light-green);
  color: var(--charcoal);
}

.make-things {
  background-color: var(--charcoal);
  color: var(--light-green);
}

.make-difference {
  border-bottom: 0.37rem solid;
}

.main-project {
  min-height: 12.5rem;
  position: relative;
  border: 4px solid var(--light-green);
}

.projects-section {
  /* Add the blur effect */
  filter: blur(0.5rem);
  -webkit-filter: blur(0.5rem);
  height: 100%;
  text-decoration: none;
  margin: 0.93rem;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-headers {
  /* background-color: var(--light-green); */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(99, 205, 218, 0.4); /* Black w/opacity/see-through */
  font-weight: bold;
  border: 3px solid var(--light-green);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
}

.project-title {
  color: var(--charcoal);
  text-decoration: none;
}

.button {
  background-color: var(--charcoal);
  color: var(--light-green);
  border-radius: 0.93rem;
  box-shadow: 0 9px var(--light-green);
}

.skills {
  border-bottom: 0.43rem solid gray;
}

footer {
  z-index: 9999;
}

.cert-container {
  border: 0.25rem solid gray;
  margin: 2px;
}

.cert-container p {
  padding-top: 4px;
}
